:443 {
	log {
		output stdout
		format console
		level INFO
	}

	encode gzip zstd

	@tunnel {
		path /tunnel
	}

	@connect {
		method CONNECT
	}

	handle @tunnel {
		reverse_proxy relay:8080 {
			transport http {
				versions h1
				ping_interval 15s
				read_buffer 65536
			}
		}
	}

	handle @connect {
		reverse_proxy relay:8080 {
			transport http {
				versions h1
			}
		}
	}

	handle {
		reverse_proxy relay:8080 {
			transport http {
				versions h1
			}
		}
	}
}
